h1{
    text-align: center;
    color: grey;
    
}
.container{
    font: 24px;
    color:  #800080
}
.photo{
    text-align: center;
    

}

main {
    text-align: center;
    border: 10px solid;
    border-color: #800080
    font-size: 40px;
}



.nav-item:hover{
    background-color:#008000;
}
.display-1{
    color: ghostwhite;
}