h1{
    text-align: center;
    color: navy;
    
}
.container{
    font: 18px;
    color:  #800080
}
.photo{
    text-align: center;
    

}

main {
    text-align: center;
    border: 18px solid;
    border-color: #800080
    font-size: 40px;
}



.nav-item:hover{
    background-color: orangered;
}
.display-1{
    color: ghostwhite;
}